@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primary: #B43F3F;  
  --secondary: #FF8225;
  --teritary: #173B45;
}


body {
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary);
  color: var(--teritary);
  font-family: "Poppins", sans-serif;
  margin: 0rem;
  overflow-x: hidden;
  overflow-y:auto;
}

#gallery > .interactable {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 0 0.40rem --secondary);
}
/* 
#gallery-Holder{
  overflow: hidden;
} */

#gallery{
  display: flex;
  gap: 4vmin;
  transform: translate(0%, 0%);
  user-select: none;
}

.side {
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;
}


#left-container{
  z-index: 2;  
}

#left-text{
  font-family: "Montserrat", sans-serif;
  font-size: 7vw;
  font-weight: 8vw;
  margin: 0px 15vw;
  width: 70vw;
  text-align: center;
  color:white;
}
/* @keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
} */

#pattern-container{
  background-color: var(--secondary);
  overflow: hidden;
  position: relative;
  z-index: 1;
  opacity: 50%;
}

#pattern {
  background-image: url("img/headerPattern.svg");
  background-size: 600px, 600px;
  background-repeat: repeat;
  background-position: top left;
  position: absolute;
  z-index: 1;
  height: 100%; 
  width: 100%; 
  min-height: 100%;
  min-width: 100%;

  /* animation: pan 100s linear infinite;
  will-change: background-position; */
}

#left-container #pattern {
  opacity: 10%;
}

#bio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3vh;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 10vw;
  text-align: center;
}

#bio > * {
  width: 25vw;   /* Set the width you want */
  height: auto;  /* Set the height you want */
}

#bio h2 {
  font-size: 2vw;
  font-weight: 8vw;
}

.project-card{
  background-color: var(--teritary);
  border-radius: 10px;
  padding: 10px;
  color: #000000;
  opacity: 80%;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-card:hover {
  opacity: 100%;
}

.project-card .arrow {
  transition: transform 0.5s ease;
}

.project-card:hover .arrow{
  transform: translate(10px, -10px);

}

@media(prefers-reduced-motion) {
  .hidden{
    transition: none;
  }
}

.hidden {
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden.college {
  filter: blur(5px);
  transform: translateX(0);
  transition: all 1s;
}

.show {
  filter: blur(0);
  transform: translateX(0);
}

.show.college{
  filter: blur(0);
}

.col {
  display: flex;
  flex-direction: column;
}

#my-projects {
  display: flex;
  justify-content: space-evenly;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 10vw;;
}

#my-projects > * {
  width: 40vw;   /* Set the width you want */
  height: auto;  /* Set the height you want */
}

@media (max-width: 768px) { /* Adjust the width as needed */
  #my-projects {
    flex-direction: column;
    padding-left: 7vw;  /* Adjust padding if needed */
    padding-right: 5vw; /* Adjust padding if needed */
    gap: 5vw;            /* Adjust gap if needed */
  }

  #my-projects > * {
    width: 80vw;   /* Set the width you want */
    height: auto;  /* Set the height you want */
  }
}

#my-projects img {
  width: 10vw;
  height: auto;
}

#my-projects a img {
  width: 2vw;
  height: auto;
}

#work-experience{
  /* display: flex;
  flex-direction: column;
  gap:20px;
  max-width: 80%;
  margin: auto;
  text-align: center;
  align-items: center; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience{
  display: flex;
  align-items: center;
  justify-content: center;
}

.exp-text {
  text-align: center;
  padding-right: 20px;
  font-size:0.9rem; 
  font-weight: 700;
}

.experience img {
  width: 15vw;
  height: auto;
}

/*


*/

#work-exp {
  display: flex;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw
}

#work-exp h1 {
  font-size:1rem; 
  font-weight: 700;
}

#work-exp a {
  text-decoration: none;
  color: inherit;
}

#work-exp h2 {
  font-size:1.5rem; 
  font-weight: 700;
}

#work-exp h3 {
  font-size:1rem; 
  font-weight: 700;
}

#work-time {
  width: 20vw;
}


#work-content {
  width: 80vw;
}



.skills {
  display: flex;
  flex-direction: row;
  max-width: 50%;
}

.skills h2{ 
  font-size:1rem; 
  font-weight: 700;
  margin-left: 10px;
}

#contactLinks img{
  fill: blue
}

.cen {
  text-align: center;
  align-items: center;
}