@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primary: #C00F0C;
  --primary2: #e1120e;  
  --secondary: #3F3FB4;
  --teritary: #173B45;
  --b: #000000;
  --w: #FFFFFF;
  --g: #f3f3f3;
  --syracuse: #f76801;
}


body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 0rem;
  overflow-x: hidden;
  overflow-y:auto;
}

#gallery > .interactable {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 0 0.15rem white);
  /* border: solid var(--primary); */
  /* border-color: linear-gradient(var(--primary), var(--secondary)); */
  border-width: 1vw;
}

#gallery{
  display: flex;
  gap: 4vmin;
  transform: translate(0%, 0%);
  user-select: none;
}

.side {
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;
}


#left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;  
}

.left-text{
  font-family: "Montserrat", sans-serif;
  font-size: 7vw;
  font-weight: 8vw;
  margin: 0px 15vw;
  width: 70vw;
  text-align: center;
  color:white;
}
/* @keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 0%;
  }
} */

#pattern-container{
  background-color: var(--primary);
  overflow: hidden;
  position: relative;
  z-index: 1;
  opacity: 100%;
}

#pattern {
  background-image: url("img/headerPattern.svg");
  background-size: 600px, 600px;
  background-repeat: repeat;
  background-position: top left;
  position: absolute;
  z-index: 1;
  height: 100%; 
  width: 100%; 
  min-height: 100%;
  min-width: 100%;

  /* animation: pan 100s linear infinite;
  will-change: background-position; */
}

#left-container #pattern {
  opacity: 10%;
}

#bio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 10vw;
  text-align: center;
}

#bio > * {
  width: 25vw;   /* Set the width you want */
  height: auto;  /* Set the height you want */
}

#bio h2 {
  font-size:1.5rem; 
  font-weight: 700;
  padding-left: 10vw;
  border-left-width: 1vw;
  border-left: solid var(--primary);
  color: var(--primary);
}

.hidden {
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden.college {
  filter: blur(5px);
  transform: translateX(0);
  transition: all 1s;
}

.show {
  filter: blur(0);
  transform: translateX(0);
}

.show.college{
  filter: blur(0);
}

.col {
  display: flex;
  flex-direction: column;
}

#my-projects {
  width: 100%;
  display: grid;
  grid-template-areas: 
    "a nd"
    "a su";

  grid-template-columns: 1fr 1fr;
}

/* #artND {
  grid-area: a1;
  background-image: url("img/headerPattern.svg");
  background-repeat: repeat;
  background-color: var(--primary);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  opacity: 80%;
}

#artSU {
  grid-area: a2;
  background-image: url("img/headerPattern.svg");
  background-repeat: repeat;
  background-color: var(--primary);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  opacity: 80%;
} */

#art {grid-row: a;}
#nextdex {grid-area: nd;}
#susocial {grid-area: su;}

.pj {
  background-color: var(--primary);
  /* margin: 10px; */
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  opacity: 80%;
}

.pj:hover {
  opacity: 100%;
}

.pj-photo {
  display: inline-block;
}

.pj-photo img {
  width: 150px;
  height: 150px;
}

.p-name {
  display: flex;
  align-items: center;
}

.p-name a svg {
  padding-left: 10px;
  /* padding-top: 3px; */
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease;

}
.p-name a {
  text-decoration: none;
  color: inherit;
}

.pj:hover {
  cursor: pointer;
}

.pj:hover .p-info .p-name svg{
  transform: translateX(10px);
} 

.p-info h2 {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 10px;
}

.p-info h3 {
  margin: 0;
  padding: 0;
}

.tags {
  gap: 10px;
  flex-wrap: wrap;
}

.tags h3 {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

#work-exp {
  display: flex;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw
}

#work-exp h1 {
  font-size:1rem; 
  font-weight: 700;
}

#work-exp a {
  text-decoration: none;
  color: inherit;
}

#work-exp h2 {
  font-size:1.5rem; 
  font-weight: 700;
}

#work-exp h3 {
  font-size:1rem; 
  font-weight: 700;
}

#work-time {
  width: 20vw;
}

#work-content {
  border-left-width: 1vh;
  border-left: solid var(--primary);
  padding-left: 1vw;
  width: 80vw;
}

.cen {
  text-align: center;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 1vw;
  margin: 0;
}

.skills h2 {
  display: inline-block;
  padding-right: 1vw;
}


#contactLinks a {
  text-decoration: none;
  color: inherit;
  padding-left: 1vw;
}

#contactLinks a:hover img{
  fill: #173B45;
}

#resume {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 1vw;
  position: relative;
}

#resume:hover {
  animation: pulse 0.75s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.99); /* Slightly smaller */
  }
  100% {
    transform: scale(1);
  }
}

.rect {
  position: absolute;
  left: 50%;
  width: 80%;
  height: 15px;
  background-color: black;
  transform: translateX(-50%);
}

.rect-top {
  top: -60%; 
  width: 10%;
  height: 90%;
  left: 30%
}

.rect-top:nth-child(2) {
  top: -40%; 
  width: 10%;
  height: 50%;
  left: 80%;
}

.rect-bottom {
  bottom: -35%; 
  width: 10%;
  height: 40%;
  left: 10%
}

.rect-bottom:nth-child(4) {
  bottom: -70%; 
  width: 10%;
  height: 80%;
  left: 50%;
}

.rect-left {
  width: 20%;
  height: 30%;
  left: -8%;
}  
.rect-right {
  top: 50%;
  width: 20%;
  height: 30%;
  left: 108%;
}  

#toolbelt {
  width: 100%;
  display: grid;
  grid-template-areas: 
    "edu  lang  fw  ts";

  grid-template-columns: 2fr 1fr 1fr 1fr;
}

#education { 
  display: flex;
  flex-direction: column;
  grid-area: edu;
  color: var(--syracuse);
  align-items: center;
  text-align: left;
}

#languages {grid-area: lang;}
#frameworks {grid-area: fw;}
#tools {grid-area: ts;}

.whitebg{
  /* background: linear-gradient(to bottom right, white 0%, white 50%, var(--primary) 50%,var(--primary) 100%); */
  background: linear-gradient(to bottom right, white 0%, white 50%, var(--g) 50%, var(--g) 100%);
}

.whitebgVert{
  /* background: linear-gradient(to bottom right, white 0%, white 50%, var(--primary) 50%,var(--primary) 100%); */
  background: linear-gradient(to right, white 0%, white 50%, var(--g) 50%, var(--g) 100%);
}

.red1{
  color: var(--primary);
  padding-left: 1vw;
}

.red2{
  color: var(--primary2);
  padding-left: 1vw;
}

#links {
  display: flex;
  justify-content: right;
  padding-right: 4vw;
  gap: 20px;
  flex: 9;
}

#links a {
  text-decoration: none;
  color: inherit;
}

#links svg:hover{
  fill:var(--primary);
  cursor: pointer;
}

#links-container{
  padding-top: 2vh;
  display: flex;
  height: 5vh;
}

#logo {
  flex: 1;
  display: flex;
  justify-content: left;
  padding-left: 1vw;
}

@media(prefers-reduced-motion) {
  .hidden{
    transition: none;
  }
}

@media (max-width: 800px) {
  #my-projects {
    grid-template-areas: 
      "nd"
      "su";

    grid-template-columns: 1fr;
  }

  #art{
    display: none;
  }

  .pj{
    margin: 20px;
  }
  
  #toolbelt {
    width: 100%;
    padding: 5px;
    display: grid;

    grid-template-areas: 
      "edu" 
      "lang"
      "fw" 
      "ts";
  
    grid-template-columns: 1fr;
  }

  #education { 
    display: flex;
    flex-direction: column;
    grid-area: edu;
    color: var(--syracuse);
    align-items: center;
    padding-left: 20%;
    text-align: center;
  }
  
  #languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15%;
    text-align: left;
    gap: 10vw;
  }
  #frameworks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    text-align: left;
    gap: 10vw;
  }
  #tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    text-align: left;
    gap: 10vw;
  }
  /* #frameworks {grid-area: fw;}
  #tools {grid-area: ts;} */
}

@media (min-width: 1800px) {
  #my-projects {
    grid-template-areas: 
      "nd su";

    grid-template-columns: 1fr 1fr;
  }
  .pj {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}