
#main_page {
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 1px solid green; */
}

#links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#links svg {
  aspect-ratio: 1;
  width: 2rem;
}

#links a, #links svg {
  cursor: pointer;
  color: var(--white);
  transition: color 200ms ease;
}

#links a:hover, #links svg:hover {
  color: var(--red)
}

nav {
  padding: 0.5rem 2rem;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  /* padding: 1rem 0.5rem; */
  width: 4rem;
  aspect-ratio: 1;
}

#main_content {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}


#main_projects, #experience, #education {
  background-color: rgba(0, 0, 0, 0.297);
  border: 3px solid var(--red);
  padding: 1rem;
  margin-right: 4rem;
}

.abstract_bg {
  position: relative;
}

.abstract_bg::after {
  opacity: 0.0;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  content: "";
  background: url("/pattern_sd.svg");
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  clip-path: polygon(calc(100% - 1.5rem) 0%,100% 0%,100% 100%,0% 100%,0% calc(100% - 1.5rem),calc(100% - 1.5rem) calc(100% - 1.5rem));
}

.abstract_bg:hover::after {
  opacity: 0.5;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
}

.title {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

.colored_link{
  color: var(--red);
  transition: color 250ms ease;
}

.colored_link:hover {
  color: var(--redAccent)
}

.tech_stack {
  padding-top: .5rem;
}

.stack p {
  font-weight: bold;
}


.main_project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.main_project_info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.25em;
  * {
    margin-right: 0.5rem;
  }
}

.pStack {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 0.2rem;
}

.pStack p {
  padding: 0.5rem 1rem;
  border: 0.2rem solid var(--red);
}

.plinks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.plinks a, .plinks button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 0;
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
  transition: all 250ms ease;
}

.plinks a:hover, .plinks button:hover {
  background-color: var(--redAccent);
  color: var(--black)
}

.circle {
  height: 0.5rem;
  aspect-ratio: 1/1;
  background-color: rgb(240, 220, 220);
  content: "";
  border-radius: 50%;
}

#header_bg {
  /* background: url('/pattern_sd2.svg'); */
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid white;
  background-size: 100px, 100px;
}

#header_text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 6rem;
    line-height: 1.0;
  }
  h2 {
    font-size: 2rem;
  }
}

#cover {
  background-color: rgba(11, 0, 0, 0.361);
  height: 100%;
  width: 100%;
}

#header_content {
  width: 50%;
  height: 100%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
}

#header_content h1{
  background: radial-gradient(rgba(0, 0, 0, 0.434) 10%, transparent 40%);
}

#hero {
  display: flex;
  flex-direction: row;
}
img {
  width: 200px;
  aspect-ratio: 2/2;
}

#main_content_old {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 4rem 2rem 2rem;
  display: grid;
  display: grid;
  gap: 2rem;
  grid-template-columns: 40% 60%; /* First column 30%, second column 70% */
  grid-template-rows: auto auto; /* Define two rows initially */
  grid-template-areas:
    "top-left right"
    "bottom-left right";
}

.item1 {
  grid-area: top-left;
  align-self: start;
}

.item2 {
  grid-area: right;
  align-self: start;
}

.item3 {
  grid-area: bottom-left;
  align-self: start;
}


section {
  position: relative;
}

.section_title {
  position: relative;
  width: fit-content;
}

.section_title::after {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 50%;
  left: 50%;
  content: "";
  background: repeating-linear-gradient(45deg, var(--red) 0%, var(--red) 10%, black 10%, black 20%), 
    repeating-linear-gradient(-45deg, black 0%, black 10%, var(--red) 10%, var(--red) 20%);
  background-size: 150% 50%, 150% 50%;
  background-repeat: no-repeat; 
  background-position: 55% 100%, 55% 0%;
  transition: background-position 1s ease;
  clip-path: polygon(0% 0%,100% 0%,100% 100%,50% 100%,50% 50%,0% 50%);
}

.abstract_bg:hover .section_title::after {
  background-position: 75% 100%, 75% 0%;
}

#main_projects, #experience, #education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.title {
  position: relative;
  width: fit-content;
}

.title::after {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0.2rem;
  left: 0;
  background-color: var(--red);
  content: "";
}

#experience_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

#education_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-start; */
  width: 100%;
  height: 100%;
  gap: 1rem;
}

#education_content div:nth-child(2) {
  text-align: right;
}

.exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribute space evenly */
  align-items: center;
  position: relative;
  gap: 10px;
  height: fit-content;
  width: 100%
}

.role {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right; /* Align text within the role container to the right */
  flex: 1 1 0%
}

.role h3:nth-child(2) {
  color: var(--redAccent);
}

.date {
  flex: 1 1 0%;
  text-align: left; /* Ensure date text is left-aligned */
}

.bar {
  /* Add styles for your bar here */
  width: 10px; /* Example width */
  height: 10px; /* Example height */
  border-radius: 50%;
  background-color: var(--red);
  flex-shrink: 0; /* Prevent the bar from shrinking */
}





.social_links {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}




#footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.blue {
  color: var(--blue)
}