:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  color-scheme: light dark;
  color: var(--white);
  background: repeating-linear-gradient(45deg, var(--blackAccent) 0px,  var(--blackAccent) 10px, #0e0e0e 10px, #0e0e0e 20px),
  repeating-linear-gradient(-45deg, var(--blackAccent)  0px,  var(--blackAccent)  10px, #0e0e0e 10px, #0e0e0e 20px);

  background-size: 50% 100%, 50% 100%;
  background-repeat: no-repeat; 
  background-position: 0% 100%, 100% 0%;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --blackAccent: 0f0f0f */
  /* ef654d */
  --red: #aa0047ff;
  --redAccent: #DD005C;
  --green: #00AA63;
  --black: #0e0e0e;
  --blackAccent: #0f0f0f;
  --white: #d3d3d3;
  --blue: #58c4dc;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}
